body{
	background-color: #f5f5f5;
}

.h2, h2 {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    color: white;
    background: tomato;
    padding: 14px 0 14px 0;
    margin: 0 10% 0 10%;
}
a:-webkit-any-link {

	color: #ff6347;
}

.btn{

	margin: 0 50% 0 50%;
}


.container {
    width: 818px;
}
table
{
	width:80%;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bolder;
	color:#999;
	margin-bottom:80px;
}
table a
{
	text-decoration:none;
	color:#ff6347;
}
table,td,th
{
	border-collapse:collapse;
	border:solid #d0d0d0 1px;
	padding:20px;
}
table td input
{
	width:97%;
	height:35px;
	border:dashed #ff6347 1px;
	padding-left:15px;
	font-family:Verdana, Geneva, sans-serif;
	box-shadow:0px 0px 0px rgba(1,0,0,0.2);
	outline:none;
}
table td input:focus
{
	box-shadow:inset 1px 1px 1px rgba(1,0,0,0.2);
	outline:none;
}

table td button
{
	border:solid #f9f9f9 0px;
	box-shadow:1px 1px 1px rgba(1,0,0,0.2);
	outline:none;
	background:#ff6347;
	padding:9px 15px 9px 15px;
	color:#f9f9f9;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	border-radius:3px;
	width:50%;
	margin-left: 25%;
	margin-top: 2%;
}
table td button:active
{
	position:relative;
	top:1px;
}
